@import '../App.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

.canciones h1{ 
  color: var(--blanco);
  padding: 2rem 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

.canciones{ 
  margin-bottom: 4rem;
}