
button {
  border-radius: 20px; 
  background-color: #FFF;
  color: #00000099; 
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba(219, 22, 22, 0.087); /* Fondo blanco con opacidad 0.087 al pasar el cursor */
  }
}

/* Estilo para el aside */
.spotify-aside {
  background-color: #252323; /* Fondo blanco */
  padding: 10px;
  color: #ffffff; /* Texto negro */
  border-radius: 20px; /* Bordes redondeados */
  
  margin: 10px 0;
}

/* Estilo para la imagen */
.spotify-aside img {
  max-width: 100%; /* Asegura que la imagen se ajuste dentro del contenedor */
  height: auto;
}

/* Estilo para los títulos y descripciones */
.spotify-aside .list.header,
.spotify-aside .list.description {
  color: #ffffff; /* Texto negro */
}
