@import '../App.css';

.imagen-cancion {
    background-color: var(--blanco);
    color: var(--background-primario);
    width: 300px;
    height: 300px;
    margin-left: 10%;
}

.detalles-cancion {
    display: block;
    background-color: var(--blanco);
    color: var(--background-primario);
}

.boton-regresar {
    background-color: var(--blanco);
    color: var(--background-primario);
}

.boton-contenedor {
    align-content: center;
    background: var(--contenedor-color);
}

.informacion {
    background-color: var(--blanco);
    color: var(--background-primario);
    margin: 5% 10% 10% 10%;
}

.contenido {
    background: var(--contenedor-color);

}

.imagen-botones-contenedor {
    max-width: 250px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* .imagen-contenedor {
    max-width: 250px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
} */
.ui.simple.dropdown .menu.dropdownmenu {
    background-color: #3f3f3f;
}

.ui.dropdown .menu.dropdownmenu>.header,
.ui.dropdown .menu.dropdownmenu>.item {
    color: var(--blanco);
}

.ui.modal .content.modalExito_contenido {
    background: #3f3f3f;
    padding-left: 2rem;
    
    /* color: var(--blanco); */
}

.ui.modal .modal_botonAceptar {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
}

.ui.dropdown .menu.dropdownmenu>.item:hover {
    color: var(--contenedor-color);
}

/* .ui.modal.transition.visible.active>.content { */
.ui.modal .modalExito .content {

    /* background: #3f3f3f; */
    background: var(--background-primario);
    color: var(--blanco);
}

.ui.modal.transition.visible.active .actions {
    background: var(--background-secundario);
}

.boton-anadirlista {
    margin-left: 60%;
}

.plus {
    color: var(--negro);
    height: 50%;
    width: 50%;
}

.detalles-cancion {
    background: var(--contenedor-color);
    margin: 10% 10% 10% 10%;
}

.informacion h1,
.informacion h2,
.informacion p {
    font-family: 'Open Sans';
    color: #000000;
    font-size: 18px;
}

.informacion h1 {
    font-size: 50px;
}

.informacion h2 {
    font-size: 24px;
}
