.listaenhome {
    padding-left: 50px !important;
    padding-top: 10px !important; 
} 
 h1.ui.header {
    color: white;
    padding-left: 0px;
    display: flex;
}

.contenedor-icono-subir{
    padding-left: 90%;
    color: white;;
}

.contenedor-lista-canciones-subidas{
    padding: 3.5%;
}
.form-group {
    margin-bottom: 20px;
}

.form-labels {
    display: flex;
}

.imagen-contenedor {
    /* width: 100px; */
    height: 200px;
    text-align: center;
}
.imagen {
    width: 200px;
    height: 200px;
}
