@import '../App.css';




.list_songs_container {
    display: flex;
    align-items: center;
    gap: 2rem;

  
}

.tabla{
      
    width: 80%;
    height: 400px;
    overflow-y:scroll;
}

.lista-canciones{

    
}

.list_songs__buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 200px;
    gap: 2rem;
}

tr:hover td {
    cursor: pointer;
    color: #999;
}

img{
    width: 30px;
    height: 30px;
  }