:root{
  --negro: #000000;
  --morado: #523178;
  --blanco: #ffffff;
  --background-primario: #090900;
  --background-secundario: #252323;
  --border-primario: #252323;
  --contenedor-color: rgb(87, 86, 86);
  --color-subtitulos: #484848;
  --color-fondo: #545155;
  
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #000000;
}
p{
  color: var(--blanco);
}