.logo {
    width: 250px;
    height: auto;
    margin-top: 20px;
}

.row-container {
    display: flex;
    margin: 0 10% 0 10%;
}

.text-container {
    flex-grow: 1;
    margin: auto;
    font-size: 23px;
    line-height: normal;
    padding-right: 10px;
}

.button-empezar {
    text-align: center;
}